#anim-text {
    border-bottom: 15px cyan solid;
    display: inline-block;
    line-height: 30px;
    
}

#welcome-subtitle {
  text-align: left;
  overflow: visible;
  position: relative;
  left: 30%;
  width: 100vw;
}

.hero {
  left: 45%;
}

#hero-subtext {
  width: 50vw;
  left: 25vw;
  position: relative;
}

@media(max-width:500px) {
  #hero-subtext {
    width: 80vw;
    left: 10vw;
  }
}