#anim-text {
    border-bottom: 15px cyan solid;
    display: inline-block;
    line-height: 30px;
}

#welcome-subtitle {
  text-align: left;
  overflow: visible;
  position: relative;
  left: 30%;
  width: 100vw;
  font-size:70px;
  white-space: nowrap;
  font-family:"bebas";
  padding-top:51px;
}

.hero {
  left: 45%;
}

#hero-subtext {
  width: 50vw;
  left: 25vw;
  position: relative;
}

img#code-is-cool {
    margin-top:31px;
    position: absolute;
    margin-left:-450px;
}

@media(max-width:511px) {
  #hero-subtext {
    font-size:100px;
  }
  #welcome-subtitle {
    padding-bottom:40px;
    padding-top:0px;
  }
}

