#anim-text {
    border-bottom: 15px #00a896 solid;
    display: inline-block;
    line-height: 30px;
    padding-bottom:10px;
}

#welcome-subtitle {
  text-align: left;
  overflow: visible;
  position: relative;
  left: 8%;
  width: 100vw;
  font-size:38px;
  white-space: nowrap;
  font-family:"bebas";
  padding-top:115px;
}

.hero {
  left: 45%;
}

#hero-subtext {
  width: 50vw;
  left: 34vw;
  position: relative;
  text-align:left;
}

img#code-is-cool {
    margin-top:31px;
    position: absolute;
    margin-left:-450px;
}

@media(min-width:480px) {
  #hero-subtext {
  }
  img#code-is-cool {
    margin-top:31px;
    position: absolute;
    margin-left:-290px;
  }

  #welcome-subtitle {
    font-size:61px;
    padding-top:80px;
    left: 38%;
  }
}

@media(min-width:767px) {
  #hero-subtext {
  }
  img#code-is-cool {
    margin-top:47px;
    position: absolute;
    margin-left:-311px;
  }

  #welcome-subtitle {
    font-size:61px;
    padding-top:84px;
    left: 37%;
  }
}
@media(min-width:991px) {

  img#code-is-cool {
    margin-top:67px;
    position: absolute;
    margin-left:-315px;
  }

  #welcome-subtitle {
    font-size:61px;
    padding-top:100px;
    left: 36%;
  }
}

@media(min-width:1199px) {

  img#code-is-cool {
    margin-top:59px;
    position: absolute;
    margin-left:-370px;
  }

  #welcome-subtitle {
    font-size:61px;
    padding-top:96px;
    left: 34%;
  }
}


