<footer class="container-fluid contact footerstyle">
    <div class="row">
        <div class="col-sm-2 col-xs-offset-1"> <!-- xs-offset allows for "padding" in mobile -->
            <h3 class="footertitle">STAY CONNECTED</h3>
            
            {% include mailchimp.html %}
            
            <img src="{{site.baseurl}}/img/Icons/facebook_icon.png" id="social-icon">
            <img src="{{site.baseurl}}/img/Icons/twitter_icon.png" id="social-icon" style="margin-left:20px">
        </div>
        
        <div class="col-sm-2 col-xs-offset-1"> 
            <h3 class="footertitle">Come visit us</h3>
            <p><a href="https://www.google.com/maps?rlz=1C5CHFA_enUS739US740&q=111+cummington+mall&biw=1259&bih=750&um=1&ie=UTF-8&sa=X&ved=0ahUKEwipuvK7z9fVAhVI4YMKHT4HDi8Q_AUICigB" id ="footer-navigation-link">Hariri Institute, 111 Cummington Street, Boston, MA, 02215</a>
                
            <p id="footer-navigation-link">Monday - Friday: 9AM -5PM</p>
        </div>
        
        <div class="col-sm-2 col-xs-offset-1"> 
            <h3 class="footertitle">NAVIGATE</h3>
            <ul style="padding:0;">
                <li><a href="{{site.baseurl}}about.html" id="footer-navigation-link">About</a></li>
                <li><a href="{{site.baseurl}}team.html" id="footer-navigation-link">Team</a></li>
                <li><a href="{{site.baseurl}}partners.html" id="footer-navigation-link">Partners</a></li>
                <li><a href="news.html" id="footer-navigation-link">News &#38; Events</a></li>
            </ul>
        </div>	
    </div>
            
        <!-- Navigation
        <div class="col-sm-5 col-sm-offset-1">
            <p id="footertitle">Navigate</p>
            <ul style="display:block;">
                <li id="footer-navigation"><a href="about.html" id="footer-navigation-link">About</a></li>
                <li id="footer-navigation"><a href="partner.html" id="footer-navigation-link">Partners</a></li>
                <li id="footer-navigation"><a href="team.html" id="footer-navigation-link">Team</a></li>
                <li id="footer-navigation"><a href="resources.html" id="footer-navigation-link">Resources</a></li>
                <li id="footer-navigation"><a href="news.html" id="footer-navigation-link">News and Events</a></li>
            </ul>
        </div>
    <div class="row">
        <hr id="footer">
        
        <p id="footer-core-information"> buspark@bu.edu • <a href="https://www.google.com/maps?rlz=1C5CHFA_enUS739US740&q=111+cummington+mall&biw=1259&bih=750&um=1&ie=UTF-8&sa=X&ved=0ahUKEwipuvK7z9fVAhVI4YMKHT4HDi8Q_AUICigB" id ="footer-navigation-link">Hariri Institute, 111 Cummington Street, Boston, MA, 02215</a> • <img src="{{site.baseurl}}/img/Icons/bu_logo_icon.png" width="50" height="20" style="padding-left:5px;"></p>
        
        <hr id="footer" style="padding-bottom:30px">
    </div> 
		-->
</footer>