<!--Begin mc_embed_signup-->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup .mc-field-group{
        padding:0px;
    }
    #mc_embed_signup form{
        padding:0px; /* override padding of normal form */
        width:50%;
    }
    #mc_embed_signup .button {
        background-color: #00a897;
        font-family:"bebas";
    }
    #mc_embed_signup input{
        border: 1px solid #7a4068;
        color:black; /* color when typing */
        font-family: "Karbon";
    }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

<div id="mc_embed_signup">
    <form action="//www.us15.list-manage.com/subscribe/post?u=1a05e1e9821077a0ac6ff6b52&amp;id=9eee928d8b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div>
            <div class="mc-field-group">
                <input type="email" autocomplete="off" placeholder="Enter your email" name="EMAIL" class="required email"  id="mce-EMAIL">
                
                <button type="submit" value="SEND" name="SEND" id="mc-embedded-subscribe" class="button">SEND</button>
            </div>
        </div>
        
        <div>   
            <!-- Error messages -->
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            
            <!-- What does this do? -->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1a05e1e9821077a0ac6ff6b52_9eee928d8b" tabindex="-1" value=""></div>
        </div>
    </form>
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>