<!DOCTYPE html>
<html>
	<!-- header -->
    <head>
        <title>{{ page.title }}</title>

        <!-- Import Bootstrap Files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/bootstrap/js/bootstrap.js"></script>
        <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
        
        {% include navbar.html %}
    </head>

    <!-- Body: embed content from child pages -->
    <body>
        {{ content }}
    </body>
    
    <!-- footer -->
    <footer class="container-fluid">
        <div class="row footerstyle">
            <div class="col-sm-1">
                <!-- padding -->
            </div>
            <div class="col-sm-2">
                <ul>
                    <strong><li>About</li></strong>
                    <li>Spark! Staff</li>
                    <li>Ignite Student Council</li>
                    <li>Innovator in Residence</li>
                    <li>Technical Experts</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <li>About</li>
                    <li>Spark! Staff</li>
                    <li>Ignite Student Council</li>
                    <li>Innovator in Residence</li>
                    <li>Technical Experts</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <li>About</li>
                    <li>Spark! Staff</li>
                    <li>Ignite Student Council</li>
                    <li>Innovator in Residence</li>
                    <li>Technical Experts</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <li>About</li>
                    <li>Spark! Staff</li>
                    <li>Ignite Student Council</li>
                    <li>Innovator in Residence</li>
                    <li>Technical Experts</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <li>About</li>
                    <li>Spark! Staff</li>
                    <li>Ignite Student Council</li>
                    <li>Innovator in Residence</li>
                    <li>Technical Experts</li>
                </ul>
            </div>
            <div class="col-sm-1">
                <!-- padding -->
            </div>
        </div>

        <div class="row footerstyle">
            <!--DON'T use padding-right and padding-left, it breaks the container -->
            <!-- using style position:absolute breaks the background, why? -->
            <img src="/img/Logo/logo.png">
        </div>
    </footer>
    <!--Finally you made it to the bottom of the page, congrats-->
</html>