<!DOCTYPE html>
<html>
	<!-- Header -->
    <head>
        <title>{{ page.title }}</title>

        <!-- Import Bootstrap Files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{site.baseurl}}/bootstrap/js/bootstrap.js"></script>
        <link href="{{site.baseurl}}/bootstrap/css/bootstrap.css" rel="stylesheet">
        
        <!-- import Bebas font -->
        <!--        <link href='{{site.github.url}}/bootstrap/fonts/Bebas/BebasNeue.otf' rel='stylesheet' type='text/css'> -->
        
        <!-- include navbar from _includes folder -->
        {% include navbar.html %}
    </head>

    <!-- Body: embed content from child pages. Consider making black background -->
    <body>
        {{ content }}
    </body>
    
    <!-- Include footer from _includes folder -->
    {% include footer.html %}
    
    <!--Finally you made it to the bottom of the page, congrats-->
</html>